  #overlay {
	display: none;
  }
  
  h3 {
	text-align: center;
  }
  ul.tablist{
    list-style:none;
  }
  div.contentWrap {
    overflow-y:auto;
  }
.apple_overlay {
    display:none;
	width: 500px;
	height: 300px;
    padding:35px;
	z-index: 800;
    font-size:11px;
}

.apple_overlay .close {
    background-image:url(http://jquerytools.org/media/img/overlay/close.png);
	position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}
#search{
position: absolute;
top: 50px;
left: 50px;
}
#tabs {
position: absolute;
top: 100px;
left: 50px;
width: 1200px;
}
#panes {
position: absolute;
top: 150px;
left: 50px;
}